<!DOCTYPE html>
<html>
<head>
	<title>Vusearch</title>
	<meta http-equiv="Cache-Control" content="no-store" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/zoom.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

    
</head>
<body>
	<div class="ui container" style="margin-top:100px">
      <button class="ui button add">+</button>
      <!-- <button class="ui button remove">-</button> -->
      <div id="myDiv" class="ui raised padded segment">
      </div>
    </div>
    
    <!-- scripts -->
	<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.js"></script>
	<script src="{{ url_for('static', filename='js/zoom.js') }}"></script>



</body>
</html>