<!DOCTYPE html>
<html>
<head>
	<title>Vusearch</title>
	<meta http-equiv="Cache-Control" content="no-store" />
	<link rel="icon" href="static/images/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
	<div id="top-menu-container"></div>
	<div class="ui text container filter filler-space"></div>
	<div>		
		<div class="ui grid">			
			<div class="one wide column">
			</div>
			<div class="three wide column" id="vertical-menu">
			</div>
			<div class="ten wide column">				
				<div id="myDiv" class="ui fluid container raised segment">
					<a id="content" class="ui bottom left attached label"></a>
					<div id="message" class="ui top attached blue label hidden"></div>
				</div>					
				<div id="empty_category_message" class="ui message hidden">
					Please select a category
				</div>		
				<div class="ui active  dimmer" id="loader">
					<div class="ui text loader">Loading Data...</div>
				</div>
			</div>
		</div>				

		<div id="tooltip" class="ui card hidden">
			<div class="ui tiny centered image">
				<img src="/static/images/wireframe.png" class="product_image">
			</div>
			<div class="content">
				<a class="header product_name">Name</a>
				<div class="description product_price">
				  $
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		2016 &copy Vusearch
	</div>
    
    <!-- scripts -->
	<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.js"></script>
	<script src="{{ url_for('static', filename='js/tsne.js') }}"></script>
	<script src="{{ url_for('static', filename='compjs/d3Visual.js') }}"></script>

</body>
</html>