body{
	/*margin-top: 10em;*/
    position: relative;
}

.filter{
	margin-bottom: 5em;
}

.input{
	width: 40em;
}

.bright{
	color: #C6E3F0;
}

.vertical-menu{
    max-height: 500px;
    overflow: scroll;
}

#myDiv {
    /*width: 50%;*/
    margin: 0 auto; 
    /*background-color: #CCCCCC;*/
}

svg{
    background-color: white
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override height later */
    background-color: teal;
    margin-right: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#tooltip{
        position: absolute;
        /*width: 100px;*/
        /*height: auto;*/
        /*padding: 10px;*/
        /*background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#loading.hidden {
        display: none;
}

#myDiv.hidden{
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

rect {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
}

rect:hover {
        fill: orange;
}

circle{
    color: blue
}

circle:hover {
    fill: orange;
}

.topmenu{
    background-color: #1c2d31;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1c2d31;
  color: #f2f6f7;
  text-align: center;
}