.zsg-loading-spinner:before,.zsg-loading-spinner_lg:before{content:'';top:50%;left:50%;background-repeat:no-repeat}
.zsg-badge,.zsg-centered{text-align:center}
@-webkit-keyframes zsgLoaderSpin{from{-webkit-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes zsgLoaderSpin{from{-webkit-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.zsg-loading-spinner{position:relative;display:inline-block;min-height:15px;min-width:15px}
.zsg-loading-spinner:before{position:absolute;width:15px;height:15px;margin:-7.5px;background-image:url(/static/images/zsg/loader-white.gif)}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.zsg-loading-spinner:before{background-size:15px;background-image:url(/static/images/zsg/loader-white-lg.gif)}
}
.zsg-loading-spinner.zsg-loading-spinner_black:before{background-image:url(/static/images/zsg/loader-black.gif)}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.zsg-loading-spinner.zsg-loading-spinner_black:before{background-image:url(/static/images/zsg/loader-black-lg.gif)}
}
.zsg-loading-spinner.zsg-loading-spinner_gray:before{background-image:url(/static/images/zsg/loader-gray.gif)}
.zsg-loading-spinner_lg{position:relative;display:inline-block;min-height:45px;min-width:45px}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.zsg-loading-spinner.zsg-loading-spinner_gray:before{background-image:url(/static/images/zsg/loader-gray-lg.gif)}
.zsg-loading-spinner_lg:before{background-size:45px;background-image:url(/static/images/zsg/loader-white-lg.gif)}
}
.zsg-loading-spinner_lg:before{position:absolute;width:45px;height:45px;margin:-22.5px;background-image:url(/static/images/zsg/loader-white-lg.gif)}
.zsg-loading-spinner_lg.zsg-loading-spinner_black:before{background-image:url(/static/images/zsg/loader-black-lg.gif)}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.zsg-loading-spinner_lg.zsg-loading-spinner_black:before{background-image:url(/static/images/zsg/loader-black-lg.gif)}
.zsg-loading-spinner_lg.zsg-loading-spinner_gray:before{background-image:url(/static/images/zsg/loader-gray-lg.gif)}
}
.zsg-loading-spinner_lg.zsg-loading-spinner_gray:before{background-image:url(/static/images/zsg/loader-gray-lg.gif)}
.zsg-loading-progress_lg,.zsg-loading-progress_md,.zsg-loading-progress_sm{height:5px;background-color:#eee;position:relative}
.zsg-loading-progress_lg .zsg-loading-progress-bar,.zsg-loading-progress_md .zsg-loading-progress-bar,.zsg-loading-progress_sm .zsg-loading-progress-bar{background-color:#0074e4;height:100%;position:absolute;top:0;left:0}
.zsg-loading-progress_md{height:10px}
.zsg-loading-progress_lg{height:20px}
.zsg-icon-for-rent,.zsg-icon-for-sale,.zsg-icon-off-market,.zsg-icon-pre-market,.zsg-icon-recently-sold{font-size:10px}
.zsg-icon-for-rent:before,.zsg-icon-for-sale:before,.zsg-icon-off-market:before,.zsg-icon-pre-market:before,.zsg-icon-recently-sold:before{background:#c00;border-radius:50%;content:"";height:1em;width:1em}
.zsg-icon-for-rent:before{background-color:#93f}
.zsg-icon-pre-market:before{background-color:#08f}
.zsg-icon-recently-sold:before{background-color:#fc0}
.zsg-icon-off-market:before{background-color:#999}
@font-face{font-family:zmod-icon-set1;src:url(/static-zsg/LATEST/static-zsg/zsg/z-fonts/zmod-icon-set/v18/zmod-icon-set.eot);src:url(/static-zsg/LATEST/static-zsg/zsg/z-fonts/zmod-icon-set/v18/zmod-icon-set.eot?#iefix) format("embedded-opentype"),url(/static-zsg/LATEST/static-zsg/zsg/z-fonts/zmod-icon-set/v18/zmod-icon-set.woff) format("woff"),url(/static-zsg/LATEST/static-zsg/zsg/z-fonts/zmod-icon-set/v18/zmod-icon-set.ttf) format("truetype"),url(/static-zsg/LATEST/static-zsg/zsg/z-fonts/zmod-icon-set/v18/zmod-icon-set.svg#v18) format("svg");font-weight:400;font-style:normal}
[class*=" zsg-icon-"],[class^=zsg-icon-]{line-height:1;vertical-align:middle}
[class*=" zsg-icon-"]:before,[class^=zsg-icon-]:before{font-family:zmod-icon-set1!important;font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block}
.zsg-icon-menu:before{content:"\e001"}
.zsg-icon-circle-minus:before{content:"\e003"}
.zsg-icon-circle-plus:before{content:"\e004"}
.zsg-icon-circle-x:before{content:"\e005"}
.zsg-icon-circle-expando:before{content:"\e007"}
.zsg-icon-circle-expando-left:before{content:"\e008"}
.zsg-icon-circle-expando-right:before{content:"\e009"}
.zsg-icon-circle-expando-up:before{content:"\e00a"}
.zsg-icon-x-thick:before{content:"\e00b"}
.zsg-icon-x-thin:before{content:"\e00c"}
.zsg-icon-expando-down:before{content:"\e00d"}
.zsg-icon-expando-left:before{content:"\e00e"}
.zsg-icon-expando-right:before{content:"\e00f"}
.zsg-icon-expando-up:before{content:"\e010"}
.zsg-icon-circle-check:before{content:"\e002"}
.zsg-icon-triangle-exclamation:before{content:"\e012"}
.zsg-icon-searchglass:before{content:"\e013"}
.zsg-icon-zlogo:before{content:"\e014"}
.zsg-icon-circle-question:before{content:"\e015"}
.zsg-icon-school:before{content:"\e019"}
.zsg-icon-location:before{content:"\e01b"}
.zsg-icon-mail:before{content:"\e01c"}
.zsg-icon-zlogo-text:before{content:"\e056"}
.zsg-icon-phone:before{content:"\e01e"}
.zsg-icon-lock:before{content:"\e021"}
.zsg-icon-trashcan:before{content:"\e022"}
.zsg-icon-draw:before{content:"\e023"}
.zsg-icon-cart:before{content:"\e024"}
.zsg-icon-heart-filled:before{content:"\e017"}
.zsg-icon-heart-line:before{content:"\e018"}
.zsg-icon-circle-hide:before{content:"\e01f"}
.zsg-icon-message:before{content:"\e028"}
.zsg-icon-house:before{content:"\e029"}
.zsg-icon-car:before{content:"\e02a"}
.zsg-icon-car-plus:before{content:"\e02c"}
.zsg-icon-plus:before{content:"\e02d"}
.zsg-icon-minus:before{content:"\e02e"}
.zsg-icon-pop-up:before{content:"\e000"}
.zsg-icon-circle:before{content:"\e030"}
.zsg-icon-bell:before{content:"\e031"}
.zsg-icon-user:before{content:"\e032"}
.zsg-icon-facebook:before{content:"\e020"}
.zsg-icon-pinterest:before{content:"\e025"}
.zsg-icon-google-plus:before{content:"\e026"}
.zsg-icon-twitter:before{content:"\e033"}
.zsg-icon-arrow-menu-down:before{content:"\e02f"}
.zsg-icon-comment:before{content:"\e034"}
.zsg-icon-circlebulb:before{content:"\e006"}
.zsg-icon-double-arrows-expand:before{content:"\e02b"}
.zsg-icon-three-squares-stacked:before{content:"\e036"}
.zsg-icon-circle-arrow-down:before{content:"\e037"}
.zsg-icon-circle-arrow-up:before{content:"\e038"}
.zsg-icon-calculator:before{content:"\e048"}
.zsg-icon-thumbs-up:before{content:"\e035"}
.zsg-icon-flag:before{content:"\e03a"}
.zsg-icon-photos:before{content:"\e03b"}
.zsg-icon-street-view:before{content:"\e03c"}
.zsg-icon-buildings:before{content:"\e027"}
.zsg-icon-map:before{content:"\e01a"}
.zsg-icon-check:before{content:"\e04d"}
.zsg-icon-calendar:before{content:"\e016"}
.zsg-icon-star:before{content:"\e044"}
.zsg-icon-star-0:before{content:"\e043"}
.zsg-icon-star-25:before{content:"\e045"}
.zsg-icon-star-50:before{content:"\e046"}
.zsg-icon-star-75:before{content:"\e047"}
.zsg-icon-star-100:before{content:"\e044"}
.zsg-icon-eye:before{content:"\e03e"}
.zsg-icon-print:before{content:"\e03f"}
.zsg-icon-trophy:before{content:"\e041"}
.zsg-icon-compass:before{content:"\e042"}
.zsg-icon-trend:before{content:"\e040"}
.zsg-icon-bus:before{content:"\e039"}
.zsg-icon-pedestrian:before{content:"\e049"}
.zsg-icon-direction:before{content:"\e03d"}
.zsg-icon-exclamation-mark:before{content:"\e011"}
.zsg-icon-triangle:before{content:"\e04b"}
.zsg-icon-bulb:before{content:"\e04a"}
.zsg-icon-reload:before{content:"\e04e"}
.zsg-icon-txt:before{content:"\e04f"}
.zsg-icon-checklist:before{content:"\e04c"}
.zsg-icon-bicycle:before{content:"\e050"}
.zsg-icon-house-line:before{content:"\e051"}
.zsg-icon-pets:before{content:"\e052"}
.zsg-icon-parking:before{content:"\e053"}
.zsg-icon-laundry:before{content:"\e054"}
.zsg-icon-ac:before{content:"\e01d"}
.zsg-icon-edit:before{content:"\e055"}
.zsg-icon-layers:before{content:"\e058"}
.zsg-icon-globe:before{content:"\e059"}
.zsg-icon-panorama:before{content:"\e057"}
.zsg-icon-play:before{content:"\e079"}
.zsg-icon-play-circle:before{content:"\e05b"}
.zsg-icon-video:before{content:"\e07e"}
.zsg-icon-pause:before{content:"\e07c"}
.zsg-icon-cog:before{content:"\e060"}
.zsg-icon-gift:before{content:"\e05e"}
.zsg-icon-savesearches:before{content:"\e05c"}
.zsg-icon-instagram:before{content:"\e05d"}
.zsg-icon-linkedin:before{content:"\e061"}
.zsg-icon-pdf:before{content:"\e062"}
.zsg-icon-save:before{content:"\e063"}
.zsg-icon-beds:before{content:"\e064"}
.zsg-icon-building:before{content:"\e065"}
.zsg-icon-leaf:before{content:"\e066"}
.zsg-icon-arrow-up-wide:before{content:"\e067"}
.zsg-icon-arrow-down-wide:before{content:"\e068"}
.zsg-icon-arrow-down:before{content:"\e069"}
.zsg-icon-arrow-up:before{content:"\e06a"}
.zsg-icon-camera:before{content:"\e06b"}
.zsg-icon-more:before{content:"\e06c"}
.zsg-icon-whatsapp:before{content:"\e06d"}
.zsg-icon-z-menu:before{content:"\e06e"}
.zsg-icon-clock:before{content:"\e06f"}
.zsg-icon-team:before{content:"\e07a"}
.zsg-icon-add-teammember:before{content:"\e07d"}
.zsg-icon-pointer-icon:before{content:"\e07b"}
.zsg-icon-claim-your-home-icon-white:before{content:"\e07f"}
.zsg-icon-smiley:before{content:"\e080"}
.zsg-separator,.zsg-separator_dotted,.zsg-separator_secondary{border-color:#ccc;border-style:solid;border-width:0 0 1px;margin-bottom:10px;padding-bottom:10px}
.zsg-separator.zsg-content-section,.zsg-separator_dotted.zsg-content-section,.zsg-separator_secondary.zsg-content-section{margin-bottom:60px;padding-bottom:60px}
@media screen and (max-width:480px){.zsg-separator.zsg-content-section,.zsg-separator_dotted.zsg-content-section,.zsg-separator_secondary.zsg-content-section{margin-bottom:40px;padding-bottom:40px}
}
.zsg-separator.zsg-content-component,.zsg-separator_dotted.zsg-content-component,.zsg-separator_secondary.zsg-content-component{margin-bottom:30px;padding-bottom:30px}
@media screen and (max-width:480px){.zsg-separator.zsg-content-component,.zsg-separator_dotted.zsg-content-component,.zsg-separator_secondary.zsg-content-component{margin-bottom:20px;padding-bottom:20px}
}
.zsg-separator.zsg-content-item,.zsg-separator_dotted.zsg-content-item,.zsg-separator_secondary.zsg-content-item{margin-bottom:15px;padding-bottom:15px}
@media screen and (max-width:480px){.zsg-separator.zsg-content-item,.zsg-separator_dotted.zsg-content-item,.zsg-separator_secondary.zsg-content-item{margin-bottom:10px;padding-bottom:10px}
}
.zsg-separator.zsg-content-component :last-child,.zsg-separator.zsg-content-item :last-child,.zsg-separator.zsg-content-section :last-child,.zsg-separator_dotted.zsg-content-component :last-child,.zsg-separator_dotted.zsg-content-item :last-child,.zsg-separator_dotted.zsg-content-section :last-child,.zsg-separator_secondary.zsg-content-component :last-child,.zsg-separator_secondary.zsg-content-item :last-child,.zsg-separator_secondary.zsg-content-section :last-child{margin-bottom:0}
.zsg-separator_dotted{border-style:dotted}
.zsg-separator_secondary{border-color:#eee}
.zsg-separator_narrow{margin-bottom:5px;padding-bottom:5px}
.zsg-badge{display:inline-block;min-width:30px;border-radius:3px;padding:0 4px;height:20px;line-height:20px;color:#fff;background-color:#333}
.zsg-badge_gray{color:#333;background-color:#ccc}
.zsg-badge_orange{background-color:#fd8602}
.zsg-badge_green{background-color:#87d300}
.zsg-badge_red{background-color:#c00}
.zsg-badge_blue{background-color:#1b5098}
.zsg-banner{display:block;padding:0 10px;z-index:200;background-color:#55a4ff;font-size:17px;height:44px;line-height:44px}
.zsg-banner .zsg-banner-text{color:#fff}
.zsg-banner.zsg-banner_green{background-color:#5d9900}
.zsg-banner.zsg-banner_orange{background-color:#fd8602}
.zsg-banner .zsg-banner-text .zsg-icon-expando-left{margin-right:5px}
.zsg-banner .zsg-banner-text .zsg-icon-expando-right{margin-left:5px}
.zsg-banner .zsg-banner-text.zsg-banner-text_right{float:right}
.zsg-notification-text{color:#fd8602}
.zsg-notification-text-confirmation{color:#5d9900}
.zsg-notification-text-error{color:#c00}
.zsg-notification-bar,.zsg-notification-bar_confirmation,.zsg-notification-bar_error,.zsg-notification-bar_solid,.zsg-notification-bar_solid.zsg-notification-bar_confirmation,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error,.zsg-notification-bar_solid.zsg-notification-bar_error,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation{background:#feffdf;border:1px solid #fd8602;display:block;padding:.5em}
.zsg-notification-bar-close{color:#fd8602;float:right;margin:-5px -5px -5px 5px;padding:5px;font-size:13px}
.zsg-notification-bar-close:hover{color:#fec371}
.zsg-notification-bar_inline{display:inline-block}
.zsg-notification-bar_confirmation{background:#edf8d9;border-color:#5d9900}
.zsg-notification-bar_confirmation .zsg-notification-bar-close{color:#5d9900}
.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover{color:#87d300}
.zsg-notification-bar_error{background:#f8dddd;border-color:#c00}
.zsg-notification-bar_error .zsg-notification-bar-close{color:#c00}
.zsg-notification-bar_error .zsg-notification-bar-close:hover{color:#f69f93}
.zsg-notification-bar_solid,.zsg-notification-bar_solid.zsg-notification-bar_confirmation,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error,.zsg-notification-bar_solid.zsg-notification-bar_error,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation{background:#fd8602;color:#fff}
.zsg-notification-bar_solid .zsg-notification-bar-close,.zsg-notification-bar_solid.zsg-notification-bar_confirmation .zsg-notification-bar-close,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error .zsg-notification-bar-close,.zsg-notification-bar_solid.zsg-notification-bar_error .zsg-notification-bar-close,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation .zsg-notification-bar-close{color:#fff}
.zsg-notification-bar_solid .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover{color:#fec371}
.zsg-notification-bar_solid.zsg-notification-bar_confirmation,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation{background:#5d9900;border-color:#5d9900}
.zsg-notification-bar_solid.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation.zsg-notification-bar_confirmation .zsg-notification-bar-close:hover{color:#87d300}
.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error,.zsg-notification-bar_solid.zsg-notification-bar_error{background:#c00;border-color:#c00}
.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_confirmation.zsg-notification-bar_error.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_confirmation.zsg-notification-bar_error .zsg-notification-bar-close:hover,.zsg-notification-bar_solid.zsg-notification-bar_error.zsg-notification-bar_error .zsg-notification-bar-close:hover{color:#f69f93}
.hide,.zsg-hide{display:none!important}
.hide-visually{background-color:transparent;border:0;color:transparent;font:0/0 a;position:absolute;text-shadow:none}
.yui3-lightbox,.yui3-lightbox-mask,.zsg-modal-mask{position:fixed;top:0;left:0;height:100%;width:100%}
.yui3-lightbox-mask,.zsg-modal-mask{display:none;z-index:1002;background-color:#fff;opacity:.9;filter:alpha(opacity=90)}
.zsg-capitalized{text-transform:uppercase}
.zsg-right-aligned{text-align:right}
.zsg-lightbox-content{display:none}
.zsg-lightbox-show{cursor:pointer}
.yui3-lightbox{z-index:10010;outline:0}
.yui3-lightbox .yui3-lightbox-content{position:relative;height:auto;margin:0 auto;z-index:10006;max-width:442px;top:20px;background-color:#fff;border:1px solid #ccc;box-shadow:0 0 5px rgba(0,0,0,.35)}
.yui3-lightbox .yui3-lightbox-content h2:first-child{margin-top:-5px}
.yui3-lightbox .yui3-lightbox-content .zsg-lightbox-content{display:block}
.yui3-lightbox .yui3-lightbox-content .zsg-lightbox-content .lightbox-block{display:none}
.yui3-lightbox .yui3-lightbox-content .zsg-lightbox-content .lightbox-block.current{display:block}
.yui3-lightbox .yui3-lightbox-content>.lightbox-close{z-index:2;position:absolute;top:20px;right:20px;color:#333;margin:-15px;padding:15px}
.yui3-lightbox .yui3-lightbox-content>.lightbox-close:hover{color:#7BC0FF}
.yui3-lightbox .yui3-lightbox-content .lightbox-body{z-index:1;padding:20px}
.yui3-lightbox .yui3-lightbox-content .lightbox-body .zsg-button-group{text-align:center}
.yui3-lightbox.yui3-lightbox-hidden{z-index:1;visibility:hidden;display:none}
.lightboxed .deferred-iframe-target iframe,.lightboxed .third-party-ad-iframe iframe,.lightboxed .third-party-iframe-ad-container iframe,.lightboxed embed,.lightboxed object{visibility:hidden}
.lightboxed .yui3-lightbox-content embed,.lightboxed .yui3-lightbox-content iframe,.lightboxed .yui3-lightbox-content object{visibility:visible}
.lightboxed .yui3-lightbox-content iframe{width:100%}
.zsg-lightbox_scroll .yui3-lightbox{overflow:auto;-webkit-overflow-scrolling:touch}
.zsg-lightbox_scroll .yui3-lightbox-content{margin-top:30px;margin-bottom:60px;top:0}
.lightboxed,.zsg-lightbox_scroll{height:100%;overflow:hidden!important}
.zsg-rating:before{color:#74c005;font-family:zmod-icon-set1;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;letter-spacing:1px}
.zsg-rating.zsg-rating_000:before{content:"\e043\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_025:before{content:"\e045\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_050:before{content:"\e046\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_075:before{content:"\e047\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_100:before{content:"\e044\e043\e043\e043\e043"}
.zsg-rating.zsg-rating_125:before{content:"\e044\e045\e043\e043\e043"}
.zsg-rating.zsg-rating_150:before{content:"\e044\e046\e043\e043\e043"}
.zsg-rating.zsg-rating_175:before{content:"\e044\e047\e043\e043\e043"}
.zsg-rating.zsg-rating_200:before{content:"\e044\e044\e043\e043\e043"}
.zsg-rating.zsg-rating_225:before{content:"\e044\e044\e045\e043\e043"}
.zsg-rating.zsg-rating_250:before{content:"\e044\e044\e046\e043\e043"}
.zsg-rating.zsg-rating_275:before{content:"\e044\e044\e047\e043\e043"}
.zsg-rating.zsg-rating_300:before{content:"\e044\e044\e044\e043\e043"}
.zsg-rating.zsg-rating_325:before{content:"\e044\e044\e044\e045\e043"}
.zsg-rating.zsg-rating_350:before{content:"\e044\e044\e044\e046\e043"}
.zsg-rating.zsg-rating_375:before{content:"\e044\e044\e044\e047\e043"}
.zsg-rating.zsg-rating_400:before{content:"\e044\e044\e044\e044\e043"}
.zsg-rating.zsg-rating_425:before{content:"\e044\e044\e044\e044\e045"}
.zsg-rating.zsg-rating_450:before{content:"\e044\e044\e044\e044\e046"}
.zsg-rating.zsg-rating_475:before{content:"\e044\e044\e044\e044\e047"}
.zsg-rating.zsg-rating_500:before{content:"\e044\e044\e044\e044\e044"}
.zsg-icon-button,.zsg-icon-button_circle,.zsg-icon-button_darkbg,.zsg-icon-button_rectangle,.zsg-icon-button_shadow{color:#333;cursor:pointer;display:inline-block;height:2em;line-height:1;padding:.4em 0;text-align:center;width:2em}
.zsg-icon-button:focus,.zsg-icon-button:hover,.zsg-icon-button_circle:focus,.zsg-icon-button_circle:hover,.zsg-icon-button_darkbg:focus,.zsg-icon-button_darkbg:hover,.zsg-icon-button_rectangle:focus,.zsg-icon-button_rectangle:hover,.zsg-icon-button_shadow:focus,.zsg-icon-button_shadow:hover{color:#0074e4}
.zsg-icon-button:active,.zsg-icon-button_circle:active,.zsg-icon-button_darkbg:active,.zsg-icon-button_rectangle:active,.zsg-icon-button_shadow:active{color:#1b5098}
.zsg-icon-button.zsg-icon-button_disabled,.zsg-icon-button[disabled],.zsg-icon-button_circle.zsg-icon-button_disabled,.zsg-icon-button_circle[disabled],.zsg-icon-button_darkbg.zsg-icon-button_disabled,.zsg-icon-button_darkbg[disabled],.zsg-icon-button_rectangle.zsg-icon-button_disabled,.zsg-icon-button_rectangle[disabled],.zsg-icon-button_shadow.zsg-icon-button_disabled,.zsg-icon-button_shadow[disabled]{color:#333;cursor:default;zoom:1;filter:alpha(opacity=35);opacity:.35}
.zsg-icon-button_circle,.zsg-icon-button_rectangle,.zsg-icon-button_shadow{background:#ddd;border:1px solid transparent;border-radius:50%}
.zsg-icon-button_circle.zsg-icon-button_selected,.zsg-icon-button_rectangle.zsg-icon-button_selected,.zsg-icon-button_shadow.zsg-icon-button_selected{background:#fff;border-color:#0074e4;color:#0074e4}
.zsg-icon-button_circle.zsg-icon-button_disabled,.zsg-icon-button_circle[disabled],.zsg-icon-button_rectangle.zsg-icon-button_disabled,.zsg-icon-button_rectangle[disabled],.zsg-icon-button_shadow.zsg-icon-button_disabled,.zsg-icon-button_shadow[disabled]{background:#ddd}
.zsg-icon-button_darkbg{background:#777;color:#fff}
.zsg-icon-button_darkbg:focus,.zsg-icon-button_darkbg:hover{background-color:#999;background:-webkit-linear-gradient(bottom,#777,#999);background:linear-gradient(to top,#777,#999);background-repeat:repeat;color:#55a4ff}
.zsg-icon-button_darkbg:active{background-color:#777;background:-webkit-linear-gradient(bottom,#999,#777);background:linear-gradient(to top,#999,#777);background-repeat:repeat-x;color:#55a4ff}
.zsg-icon-button_darkbg.zsg-icon-button_selected{background:#777;border-color:#55a4ff;color:#fff}
.zsg-icon-button_darkbg.zsg-icon-button_disabled,.zsg-icon-button_darkbg[disabled]{background:#777;color:#fff;zoom:1;filter:alpha(opacity=25);opacity:.25}
.zsg-icon-button_shadow{background:#fff;border-color:#ccc;box-shadow:0 0 3px #ccc}
.zsg-icon-button_shadow:focus,.zsg-icon-button_shadow:hover{background-color:#fff;background:-webkit-linear-gradient(bottom,#ddd,#fff);background:linear-gradient(to top,#ddd,#fff);background-repeat:repeat-x}
.zsg-icon-button_shadow:active{background-color:#ddd;background:-webkit-linear-gradient(bottom,#fff,#ddd);background:linear-gradient(to top,#fff,#ddd);background-repeat:repeat-x;color:#1b5098}
.zsg-icon-button_shadow.zsg-icon-button_selected{background:#0074e4;border-color:transparent;color:#fff}
.zsg-icon-button_shadow.zsg-icon-button_disabled,.zsg-icon-button_shadow[disabled]{background:#fff}
.zsg-icon-button_rectangle{border-radius:5px}
.zsg-flipper{color:#fff;font-size:30px}
.zsg-flipper:focus,.zsg-flipper:hover{color:#7BC0FF}
.zsg-flipper:active{color:#55a4ff}
.zsg-tooltip{display:none;width:310px;position:absolute;z-index:10011;opacity:0}
.zsg-tooltip.zsg-tooltip_animating{transform-origin:left center;-ms-transform-origin:left center;-webkit-transform-origin:left center;-webkit-transform:scale(.01) translate3d(-20px,0,0);transform:scale(.01) translate3d(-20px,0,0)}
.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_align-left{transform-origin:right center;-ms-transform-origin:right center;-webkit-transform-origin:right center;-webkit-transform:scale(.01) translate3d(20px,0,0);transform:scale(.01) translate3d(20px,0,0)}
.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_align-top{transform-origin:center bottom;-ms-transform-origin:center bottom;-webkit-transform-origin:center bottom;-webkit-transform:scale(.01) translate3d(0,20px,0);transform:scale(.01) translate3d(0,20px,0)}
.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_align-bottom{transform-origin:center top;-ms-transform-origin:center top;-webkit-transform-origin:center top;-webkit-transform:scale(.01) translate3d(0,-20px,0);transform:scale(.01) translate3d(0,-20px,0)}
.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_closing,.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_opening{-webkit-transition:all 150ms ease;transition:all 150ms ease}
.zsg-tooltip.zsg-tooltip_animating.zsg-tooltip_opening{-webkit-transform:scale(1) translate3d(0,0,0);transform:scale(1) translate3d(0,0,0);opacity:1}
.zsg-tooltip.zsg-tooltip_closing,.zsg-tooltip.zsg-tooltip_open{display:inline-block}
@media screen and (max-width:480px){.zsg-tooltip.zsg-tooltip_closing,.zsg-tooltip.zsg-tooltip_open{display:block;left:0!important;max-width:none;width:100%}
}
.zsg-tooltip-viewport{position:relative}
.zsg-tooltip-content{background:#333;border-radius:5px;color:#fff;padding:5px 10px 8px;position:relative;font-size:15px;word-wrap:break-word}
.zsg-tooltip-content .zsg-tooltip-arrow{border-color:transparent #333 transparent transparent;border-style:solid;border-width:8px 8px 8px 0;display:inline-block;display:block;margin-top:-8px;position:absolute;right:100%;top:50%}
.zsg-cp,.zsg-datepicker-wrapper{position:relative}
.zsg-tooltip_align-left .zsg-tooltip-content .zsg-tooltip-arrow{border-color:transparent transparent transparent #333;border-style:solid;border-width:8px 0 8px 8px;display:inline-block;left:100%;right:auto}
.zsg-tooltip_align-bottom .zsg-tooltip-content .zsg-tooltip-arrow{border-color:transparent transparent #333;border-style:solid;border-width:0 8px 8px;display:inline-block;bottom:100%;left:50%;margin-left:-8px;margin-top:0;right:auto;top:auto}
.zsg-tooltip_align-top .zsg-tooltip-content .zsg-tooltip-arrow{border-color:#333 transparent transparent;border-style:solid;border-width:8px 8px 0;display:inline-block;left:50%;margin-left:-8px;margin-top:0;right:auto;top:100%}
.zsg-tooltip-content a{color:#55A4FF}
.zsg-tooltip-content a:visited{color:#747AFF}
.zsg-tooltip-content a:focus,.zsg-tooltip-content a:hover{color:#7BC0FF}
.zsg-tooltip-content a:active{color:#0074e4}
@media screen and (max-width:480px){.zsg-tooltip-content{border-radius:0}
}
.zsg-tooltip-content :last-child{margin-bottom:0}
.zsg-tooltip-content .zsg-tooltip-close{float:right;font-size:14px;text-align:right;margin-right:-9px;margin-top:-5px;padding:5px;color:#fff}
.zsg-tooltip-content .zsg-tooltip-close:hover{color:#7BC0FF}
.zsg-icon-circle-question.zsg-tooltip-launch{cursor:pointer;font-size:15px;color:#999}
.zsg-icon-circle-question.zsg-tooltip-launch:hover{color:#333}
.zsg-tooltip-launch_keyword{border-bottom:1px dashed #ccc;cursor:pointer}
.zsg-cp{box-shadow:0 1px 2px #ddd;box-shadow:0 1px 2px rgba(0,0,0,.3)}
.zsg-cp-caption{padding:20px}
.zsg-media,.zsg-media_shrinkwrap{zoom:1}
.zsg-media:after,.zsg-media:before,.zsg-media_shrinkwrap:after,.zsg-media_shrinkwrap:before{content:" ";display:table}
.zsg-media:after,.zsg-media_shrinkwrap:after{clear:both}
.zsg-media .zsg-media,.zsg-media_shrinkwrap .zsg-media_shrinkwrap{margin:15px}
.zsg-annotation-area :last-child,.zsg-media-bd :last-child{margin-bottom:0}
.zsg-media-img img,.zsg-media-img_ext img{display:block}
.zsg-media-img{float:left;margin-right:15px}
.zsg-media-img_ext{float:right;margin-left:15px}
.zsg-media-bd{display:table-cell;vertical-align:top;width:10000px!important}
.zsg-media_shrinkwrap .zsg-media-bd{width:auto!important}
.zsg-annotation-area{background-color:#eee;padding:15px}
.zsg-circle{background-color:#333;border-radius:50%;color:#fff;display:inline-block;line-height:1;padding:.4em .6em}
.zsg-datepicker-wrapper .zsg-datepicker-link{color:#0074e4;font-size:1.34em;line-height:1;position:absolute;right:7px;top:5px}
.zsg-datepicker-calendar{position:absolute;z-index:900}
.zsg-calendar-content{background:#fff;box-shadow:0 0 2px rgba(0,0,0,.5)}
.zsg-calendar-content .yui3-calendar-header{padding:15px 0;width:100%}
.zsg-calendar-content .yui3-calendarnav-nextmonth,.zsg-calendar-content .yui3-calendarnav-prevmonth{color:#999;left:14px;position:absolute;top:18px}
.zsg-calendar-content .yui3-calendarnav-nextmonth:hover,.zsg-calendar-content .yui3-calendarnav-prevmonth:hover{color:#0074e4}
.zsg-calendar-content .yui3-calendarnav-nextmonth{left:auto;right:14px}
.zsg-calendar-content .yui3-calendar-header-label{font-size:18px;line-height:1.5;font-weight:700;font-weight:400;text-align:center;margin:0 auto}
@media screen and (max-width:480px){.zsg-calendar-content .yui3-calendar-header-label{font-size:15px}
}
.zsg-calendar-content .yui3-calendar-weekday{color:#999;font-size:13px}
.zsg-calendar-content .yui3-calendar-day,.zsg-calendar-content .yui3-calendar-nextmonth-day,.zsg-calendar-content .yui3-calendar-prevmonth-day{font-size:15px;font-weight:700;text-transform:uppercase;line-height:1;padding:2px;text-align:center}
@media screen and (max-width:480px){.zsg-calendar-content .yui3-calendar-day,.zsg-calendar-content .yui3-calendar-nextmonth-day,.zsg-calendar-content .yui3-calendar-prevmonth-day{font-size:13px}
}
.zsg-calendar-content .yui3-calendar-day>span,.zsg-calendar-content .yui3-calendar-nextmonth-day>span,.zsg-calendar-content .yui3-calendar-prevmonth-day>span{border-radius:50%;display:block;padding:10px 5px}
.zsg-calendar-content .yui3-calendar-nextmonth-day,.zsg-calendar-content .yui3-calendar-prevmonth-day{padding:14px 7px}
.zsg-calendar-content .yui3-calendar-nextmonth-day,.zsg-calendar-content .yui3-calendar-prevmonth-day,.zsg-calendar-content .yui3-calendar-selection-disabled{color:#999;font-weight:400;pointer-events:none}
.zsg-calendar-content .yui3-calendar-day:focus,.zsg-calendar-content .yui3-calendar-day:hover{outline:0}
.zsg-calendar-content .yui3-calendar-day:focus>span,.zsg-calendar-content .yui3-calendar-day:hover>span{background:#eee;color:#0074e4}
.zsg-calendar-content .yui3-calendar-selection-disabled:focus>span,.zsg-calendar-content .yui3-calendar-selection-disabled:hover>span{background:inherit;color:inherit}
.zsg-calendar-content .yui3-calendar-day-selected>span{background:#000;color:#fff}
.zsg-box{border:1px solid #ddd;padding:10px}
.zsg-box>:last-child{margin-bottom:0}
.zsg-carousel-btn{cursor:pointer}
.zsg-carousel-btn_disabled{color:#ddd}
.zsg-carousel_uninitialized{white-space:nowrap;overflow-x:auto;width:100%}
.zsg-carousel_uninitialized>*{display:inline-block;width:100%}
.zsg-carousel_uninitialized-noscroll{white-space:nowrap;width:100%;overflow-x:hidden}
.zsg-carousel_uninitialized-noscroll>*{display:inline-block;width:100%}
.zsg-carousel-wrapper{display:inline-block;width:100%;position:relative}
.zsg-carousel-scroll-wrapper{display:inline-block;overflow:hidden;white-space:nowrap;vertical-align:middle}
.zsg-carousel{position:relative;overflow:hidden}
.zsg-carousel-counter{position:absolute;display:inline-block;right:10px;top:10px;min-width:30px;border-radius:3px;padding:5px 9px;zoom:1;filter:alpha(opacity=80);opacity:.8;color:#fff;background-color:#333;z-index:100}
.zsg-carousel-nav.zsg-button-group>li{height:100%;position:absolute;top:0;margin:0}
.zsg-carousel-nav.zsg-button-group>li.zsg-carousel-nav-next{right:0}
.zsg-carousel-nav.zsg-button-group>li.zsg-carousel-nav-disabled{zoom:1;filter:alpha(opacity=10);opacity:.1}
.zsg-carousel-nav .zsg-flipper{height:100%;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;display:block;min-width:60px}
.zsg-carousel-nav .zsg-icon-expando-left,.zsg-carousel-nav .zsg-icon-expando-right,.zsg-carousel-nav .zsg-icon-reload{display:block;position:absolute;top:50%;width:35px;height:50px;margin-top:-25px;line-height:50px;border:1px solid #fff;background-color:#333;zoom:1;filter:alpha(opacity=50);opacity:.5;-webkit-transition:opacity .1s ease-in-out;transition:opacity .1s ease-in-out}
.zsg-carousel-nav .zsg-icon-expando-left::before,.zsg-carousel-nav .zsg-icon-expando-right::before,.zsg-carousel-nav .zsg-icon-reload::before{line-height:50px}
.zsg-carousel-nav .zsg-flipper:hover .zsg-icon-expando-left,.zsg-carousel-nav .zsg-flipper:hover .zsg-icon-expando-right,.zsg-carousel-nav .zsg-flipper:hover .zsg-icon-reload{color:#7BC0FF;zoom:1;filter:alpha(opacity=100);opacity:1}
.zsg-carousel-nav .zsg-icon-expando-right{text-align:right;right:10px}
.zsg-carousel-nav .zsg-icon-expando-left{left:10px}
.zsg-carousel-nav .zsg-icon-reload{text-align:center;right:10px}
.zsg-wrapper{background-color:#fff;border:1px solid #ddd;padding:30px 15px 20px;margin-bottom:15px}
.zsg-wrapper_highlight{position:relative}
.zsg-wrapper_highlight:before{content:'';position:absolute;top:-1px;left:-1px;border-top:3px solid #0074e4;width:calc(100% + 2px);height:0}
@media screen and (min-width:481px){.zsg-wrapper{border-radius:3px;margin-bottom:20px}
.zsg-wrapper_highlight:before{border-radius:3px 3px 0 0}
}
.zsg-wrapper-width{padding-left:15px;padding-right:15px}
.zsg-wrapper-fullsize{margin-left:-15px;margin-right:-15px}
.zsg-wrapper-footer{padding-top:15px;text-align:center;border-top:1px solid #ddd}
.zsg-tag,.zsg-toggles input[type=checkbox]+label{cursor:pointer;padding:.4em 1.33em;margin-bottom:10px}
.zsg-toggles{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-10px}
.zsg-toggles input[type=checkbox]+label{display:inline-block;border:1px solid #666;background:#fff;color:#333;border-radius:100px;margin-left:10px}
.zsg-toggles input[type=checkbox]+label:after,.zsg-toggles input[type=checkbox]+label:before{content:none}
.zsg-toggles input[type=checkbox]+label:hover{border-color:#ccc;color:#333}
.zsg-toggles input[type=checkbox]:checked+label{background-color:#74c005;color:#fff;border-color:#999}
.zsg-toggles.zsg-toggles_darkbg input[type=checkbox]+label{border-color:#fff;color:#fff;background:0 0}
.zsg-toggles.zsg-toggles_darkbg input[type=checkbox]+label:hover{border-color:#ccc;color:#fff;background:0 0}
.zsg-toggles.zsg-toggles_darkbg input[type=checkbox]:checked+label{background-color:#74c005;color:#fff;border-color:#fff}
.zsg-tags{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-10px}
.zsg-tag{display:inline-block;border:1px solid #666;background:#fff;color:#333;border-radius:100px;margin-left:10px}
.zsg-tag:hover{border-color:#ccc;color:#999}
.zsg-tag.zsg-tag_inactive{border-color:#ccc;color:#ccc;cursor:default}
.zsg-tag.zsg-tag_darkbg,.zsg-tags_darkbg .zsg-tag{border-color:#fff;color:#fff;background:0 0}
.zsg-tag.zsg-tag_darkbg:hover,.zsg-tags_darkbg .zsg-tag:hover{border-color:#ccc;color:#fff;background:0 0}
.zsg-tag.zsg-tag_darkbg.zsg-tag_inactive,.zsg-tags_darkbg .zsg-tag.zsg-tag_inactive{border-color:#ccc;color:#999}

5 min to Spreed